<div class="login_wrapper">
    <div class="login_form">
        <div class="login_content">
            <form>
                <h1>Kipenzi - Bro</h1>
                <div>
                    <input type="text" class="form-control" placeholder="email / mobile" required name="username" ng-model="username"/>
                    <input type="password" class="form-control" placeholder="Password" required name="password" ng-model="password"/>
                </div>
                <div>
                    <button ng-click="login()" class="btn btn-default submit">Log in</button>
                    <a class="reset_pass" href="#">Lost your password?</a>
                </div>  
                <div class="separator">
                    <p class="change_link">New to site?
                        <a href="" ng-click="go('signup')" class="to_register"> Create Account </a>
                    </p>  
                    <br />    
                    <div>
                        <h1><i class="fa fa-paw"></i> Kipenzi</h1>
                        <p>©2016 All Rights Reserved.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>