<div class="header">
    <div class="navbar navbar-inverse">
        <div class="container-header">
            <div class="collapse navbar-collapse" id="navbar-collapse">
                
                <md-menu-bar>
                    <div class="navbar-header">
                        <a class="navbar-brand" ng-click="go('menu.home')"><i class="fa fa-paw"></i></a>
                    </div>
                    <md-menu ng-repeat="menu in menus"  class="navbar-nav">
                        <ul class="nav navbar-nav {{currentMenu == this.menu.state}}">
                            <li class="nav-li-border">
                                <a ng-click="menuClick(this)" class="nav-link-border"><i class="{{menu.icon}}"></i>    {{menu.name.toUpperCase()}}</a>
                            </li>
                        </ul>
                        <md-menu-content>
                            <md-menu-item ng-repeat="submenu in menu.submenus">
                                <md-button ng-click="menuClick(this)">{{submenu.name}}</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
<!--
                <md-nav-bar class="menu" md-selected-nav-item="currentState" aria-label="nav-bar">
                    <md-nav-item ng-repeat="menu in menus" md-nav-click="menuClick(this)" name="{{menu.state}}">
                        {{menu.name}}
                    </md-nav-item>
                </md-nav-bar>       
-->
            </div>
        </div>
    </div>
</div>

<div>
    <md-nav-bar class="submenu" ng-if="submenus || submenus.length == 0" md-selected-nav-item="currentState" aria-label="nav-bar">
        <md-nav-item ng-repeat="submenu in submenus" md-nav-click="go(submenu.state)" name="{{submenu.state}}">{{submenu.name}}</md-nav-item>
    </md-nav-bar>
</div>

<ui-view></ui-view>