	<!-- Inventory History page - partial -->
	<div class="right_col" role="main">
		<div class="x_panel">
			<!-- ng-click="addLiveItem()"-->
			<button type="button"  class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus">
			</i> Refresh data
			</button>
			<table st-table="displayedCollection" st-safe-src="inventoryEntries" class="table table-striped">
				<thead>
					<tr>
						<th st-sort="name">Name</th>
						<th st-sort="batchid">Batch</th>
						<th st-sort="manufacturer">Manufacturer</th>
						<th st-sort="expiry">Expiry</th>
					</tr>
					<tr>
						<th colspan="4"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in displayedCollection">
						<td>{{row.name}}</td>
						<td>{{row.batchid}}</td>
						<td>{{row.manufacturer}}</td>
						<td>{{row.expiry | date}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>