<!--<html>-->
<!--  <head>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <!-- Meta, title, CSS, favicons, etc. -->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!---->
<!--    <title>Doctor Management</title>-->
<!--          jQuery Smart Wizard -->
     <!-- Bootstrap -->
<!--    <link href="../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <script src="../../vendors/jquery/dist/jquery.min.js"></script>-->
<!--    <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--    <script src="../../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>-->
   
 
    <script>
      $(document).ready(function() {
        $('#wizard').smartWizard();

        $('#wizard_verticle').smartWizard({
          transitionEffect: 'slide'
        });

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');
      });
    </script>
<!--  </head>-->
<!--  <body class="nav-md" ng-app="menu-profile_management" ng-controller="profile_management_controller">-->
    <!-- <div class="container body">
      <div class="main_container">-->
        <!-- page content -->
<!--
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Doctor Profiles Management</h3>
              </div>
                
            </div>
            <div class="clearfix"></div>

            <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
-->
                 <!-- <div class="x_title">
                    <h2>Add Doctor</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>-->
<!--
                  <div class="x_content"> 
                        
                    <div class="clearfix"></div>
-->
                    <!-- Smart Wizard -->
                    
<!--               <h2>Add new profile</h2>-->
                    <!-- Tabs -->
<!--                    <div id="wizard_verticle" class="form_wizard wizard_verticle">-->
<!--
                      <ul class="list-unstyled wizard_steps">
                        <li>
                          <a href="#step-11">
                            <span class="step_no">1</span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-22">
                            <span class="step_no">2</span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-33">
                            <span class="step_no">3</span>
                          </a>
                        </li>
                          <li>
                          <a href="#step-44">
                            <span class="step_no">4</span>
                          </a>
                        </li>
                      </ul>
-->

                      <div id="step-11">
                        <h2 class="StepTitle">Step 1</h2>
                        <form class="form-horizontal form-label-left">
                        <span class="section">Personal Information</span>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="profile_management_controller_FirstName" >
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="profile_management_controller_LastName" >
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mobile-number">Mobile number <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="mobile-number" name="mobile-number" required="required" class="form-control col-md-7 col-xs-12" ng-model="profile_management_controller_MobileNumber" >
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12" ng-model="profile_management_controller_EMail" >
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender <span class="required">*</span></label>
                            <div class="col-md-3 col-sm-3 col-xs-8">
                              <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="gender" value="male" ng-model="profile_management_controller_Gender" > &nbsp; Male &nbsp;
                                </label>
                                  <a href="" ng-click="go('menu.profilemanagement.step2')">xyz</a>
                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="gender" value="female" ng-model="profile_management_controller_Gender" > Female
                                </label>
                              </div>
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-2">DOB <span class="required">*</span>
                            </label>
                            <!--<div class="col-md-2 col-sm-2 col-xs-4">
                              <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                            </div>-->
                            <div class="col-md-1 col-sm-1 col-xs-4">
                              <select id="birthday-date" class="form-control col-md-7 col-xs-12" ng-model="profile_management_controller_DOB_Date" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                              </select>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-4">
                              <select id="birthday-month" class="form-control col-md-7 col-xs-12" ng-model="profile_management_controller_DOB_Month" >
                                <option value="Jan">January</option>
                                <option value="Feb">February</option>
                                <option value="Mar">March</option>
                                <option value="Apr">April</option>
                                <option value="May">May</option>
                                <option value="Jun">June</option>
                                <option value="Jul">July</option>
                                <option value="Aug">August</option>
                                <option value="Sep">September</option>
                                <option value="Oct">October</option>
                                <option value="Nov">November</option>
                                <option value="Dec">December</option>
                              </select>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-4">
                              <select id="birthday-year" class="form-control col-md-7 col-xs-12" ng-model="profile_management_controller_DOB_Year" >
                                <option value="1985">1985</option>
                                <option value="1986">1986</option>
                                <option value="1987">1987</option>
                                <option value="1988">1988</option>
                                <option value="1989">1989</option>
                                <option value="1990">1990</option>  
                              </select>
                            </div>
                          </div>
                          <!--<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                            </div>
                          </div>-->

                        </form>
                          
                      </div>
<!--                     </div>-->
                    <!-- End SmartWizard Content -->
<!--
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
-->
        <!-- /page content -->
    <!--    </div>
    </div>-->
<!--  </body>-->
<!--</html>-->