    <!-- Profile Mangement page 3 - partial -->

    <script>
        $(document).ready(function() {
        $('#wizard').smartWizard();

        $('#wizard_verticle').smartWizard({
            transitionEffect: 'slide'
        });

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');
        });
    </script>

    <div id="step-33">
        <h2 class="StepTitle">Step 3</h2>
    </div>