    <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Doctor Profiles Management</h3>
              </div>
                
            </div>
            <div class="clearfix"></div>

            <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content"> 
                        
                    <div class="clearfix"></div>
                    <!-- Smart Wizard -->
                    
               <h2>Add new profile</h2>
                    <!-- Tabs -->
                    <div id="wizard_verticle" class="form_wizard wizard_verticle">
                      <ul class="list-unstyled wizard_steps">
                        <li>
                          <a href="#step-11">
                            <span class="step_no">1</span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-22">
                            <span class="step_no">2</span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-33">
                            <span class="step_no">3</span>
                          </a>
                        </li>
                          <li>
                          <a href="#step-44">
                            <span class="step_no">4</span>
                          </a>
                        </li>
                      </ul>
                        
                     </div>
                         <div ui-view></div>
                    <!-- End SmartWizard Content -->
                      
                  </div>
                </div>
              </div>
            </div>
           
          </div>
            
        </div>
    